* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

input {
  background: none;
  border: none;
  outline: none;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Muli", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 10rem;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.neutral {
  display: none;
}

.neutral.show {
  position: fixed;
  inset: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1024px) {
  .container {
    gap: 5rem;
  }
}
.section-title {
  position: relative;
}

.section-title__lefted::after {
  position: absolute;
  content: "";
  width: 3.5rem;
  inset: 0;
  bottom: -30%;
}

.section-title__centered::after {
  position: absolute;
  content: "";
  width: 3.5rem;
  inset: 0;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
}

.section-title__primary {
  color: #000000;
}

.section-title__secondary {
  color: #ffffff;
}

.section-title__primary.section-title__centered::after,
.section-title__primary.section-title__lefted::after {
  border-bottom: 3px solid #000000;
}

.section-title__secondary.section-title__centered::after,
.section-title__secondary.section-title__lefted::after {
  border-bottom: 3px solid #ffffff;
}

.card-title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.link-list__title {
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .section-title {
    font-size: 2rem;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .section-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .section-title br {
    content: "";
    display: none;
  }
  .section-title br:after {
    content: "";
    display: none;
  }
  .section-title__lefted::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .card-title {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
.section-description {
  font-size: 1.125rem;
  font-weight: 300;
}

.card-description {
  color: #7d7987;
  font-size: 1rem;
  font-weight: 300;
}

.section-description__primary {
  color: #7d7987;
}

.section-description__secondary {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .section-description {
    font-size: 1rem;
    font-weight: 300;
  }
}
@media (max-width: 1024px) {
  .section-description {
    font-size: 0.75rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .section-description br {
    content: "";
    display: none;
  }
  .section-description br:after {
    content: "";
    display: none;
  }
  .card-description {
    font-size: 0.875rem;
    font-weight: 300;
  }
}
.nav-link__primary > * {
  color: #7d7987;
}

.nav-link__secondary > * {
  color: #ffffff;
}

.nav-link > * {
  font-size: 1.125rem;
  font-weight: 400;
}

.nav-link__primary:hover > * {
  font-weight: 700;
  color: #233348;
}

@media (max-width: 1200px) {
  .nav-link > * {
    font-size: 1rem;
    font-weight: 400;
  }
}
@media (max-width: 1024px) {
  .nav-link__primary > * {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
  }
}
.hero-image img {
  width: 100%;
  aspect-ratio: 1.15/1;
}

.providers-image {
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
}
.providers-image img {
  width: max(100%, 16rem);
  aspect-ratio: 1.3/1;
}

.app-image {
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
}
.app-image img {
  width: max(100%, 16rem);
  aspect-ratio: 1.5/1;
}

.testimonials-author__picture {
  width: 8rem;
  height: 8rem;
}
.testimonials-author__picture img {
  width: 100%;
}

.articles-cards__card-image {
  height: 15rem;
}

@media (max-width: 768px) {
  .providers-image {
    display: none;
  }
  .app-image {
    display: none;
  }
}
.section-primary-cta {
  background: #458ff6;
}

.section-primary-cta,
.section-secondary-cta {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-primary-cta a,
.section-secondary-cta a {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-secondary-cta {
  background: #ffffff;
  border: 2px solid #458ff6;
}

.section-primary-cta,
.section-secondary-cta {
  font-size: 1.125rem;
  font-weight: 700;
}

.section-primary-cta > * {
  color: #ffffff;
}

.section-secondary-cta > * {
  color: #458ff6;
}

@media (max-width: 1200px) {
  .section-primary-cta,
  .section-secondary-cta {
    width: 8.5rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .section-primary-cta,
  .section-secondary-cta {
    width: 8.5rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.header-menu {
  display: none;
}
.header-nav__close {
  display: none;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-logo__logo {
  width: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #458ff6;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header-logo__logo {
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
}
.header-logo__text {
  font-size: 1.375rem;
  font-weight: 700;
  color: #233348;
}
@media (max-width: 1024px) {
  .header-nav {
    position: fixed;
    flex-direction: column;
    background: #458ff6;
    opacity: 0.7;
    z-index: 3;
    gap: 0rem;
    top: -150%;
    left: 0%;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  .header-nav__link {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }
  .header-nav__link:not(:nth-child(1)) {
    border-top: 1px solid white;
  }
  .header-nav__close {
    display: block;
    width: 100%;
    padding: 2rem;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav__close img {
    width: 4rem;
    height: 4rem;
  }
  .header-nav.open-nav {
    top: 0%;
  }
  .header-menu {
    display: block;
  }
  .header-menu img {
    width: 3rem;
    height: 3rem;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  row-gap: 2rem;
  width: 85%;
  background: #ffffff;
  position: relative;
}
.hero-title {
  grid-column: 1;
  grid-row: 2;
}
.hero-description {
  grid-column: 1;
  grid-row: 3;
}
.hero-cta {
  grid-column: 1;
  grid-row: 4;
}
.hero-image {
  grid-column: 2;
  grid-row: 1/-1;
}
.hero .vector {
  position: absolute;
  left: -13%;
  width: 10%;
}
.hero .vector img {
  width: 100%;
  aspect-ratio: 1.1/1;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
}
.hero-description {
  font-size: 1.375rem;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .hero-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .hero-description {
    font-size: 1.125rem;
    font-weight: 300;
  }
}
@media (max-width: 1024px) {
  .hero-title {
    font-size: 2rem;
    font-weight: 700;
  }
  .hero-description {
    font-size: 0.875rem;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-title {
    grid-column: 1;
    text-align: center;
  }
  .hero-description {
    grid-column: 1;
    text-align: center;
  }
  .hero-cta {
    align-self: center;
    justify-self: center;
  }
  .hero-image {
    grid-column: 1;
    grid-row: 5;
  }
}

.services {
  width: 85%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  row-gap: 3rem;
  position: relative;
}
.services-title {
  grid-row: 1;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.services-description {
  grid-row: 2;
  text-align: center;
}
.services-cards {
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.services-cards__card {
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  background: #ffffff;
}
.services-cards__card-image {
  height: 8rem;
}
.services-cards__card > * {
  padding: 1rem;
}
.services-cta {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}
.services .vector {
  position: absolute;
  top: 46%;
  right: 6%;
  z-index: -1;
}
.services .vector-background {
  position: absolute;
  z-index: -1;
  top: 10%;
  left: -10%;
  width: 60%;
}
.services .vector-background img {
  width: 100%;
  aspect-ratio: 1.4/1;
}
@media (max-width: 768px) {
  .services .services-cards__card {
    width: 17rem;
    height: 17rem;
  }
  .services .services-cards__card-image {
    height: 8rem;
    width: fit-content;
    height: fit-content;
    width: 30%;
  }
  .services .services-cards__card-image img {
    width: 100%;
  }
}

.providers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  width: 85%;
  position: relative;
  row-gap: 3rem;
  column-gap: 8rem;
}
.providers-image {
  grid-column: 1;
  grid-row: 1/-1;
}
.providers-title {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}
.providers-description {
  grid-column: 2;
  grid-row: 3;
}
.providers-cta {
  grid-column: 2;
  grid-row: 4;
}
.providers .vector {
  position: absolute;
  bottom: -20%;
  right: -12%;
}
@media (max-width: 768px) {
  .providers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .providers-title {
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
  }
  .providers-description {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .providers-description br {
    content: "";
    display: none;
  }
  .providers-description br:after {
    content: "";
    display: none;
  }
  .providers-cta {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
}

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  width: 85%;
  row-gap: 3rem;
  column-gap: 8rem;
}
.app-image {
  grid-column: 2;
  grid-row: 1/-1;
}
.app-title {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}
.app-description {
  grid-column: 1;
  grid-row: 3;
}
.app-cta {
  grid-column: 1;
  grid-row: 4;
}
@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .app-title {
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
  }
  .app-description {
    text-align: center;
  }
  .app-description br {
    content: "";
    display: none;
  }
  .app-description br:after {
    content: "";
    display: none;
  }
  .app-cta {
    align-self: center;
    justify-self: center;
  }
}

.testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
.testimonials-vector {
  position: absolute;
  bottom: 20%;
  left: 4%;
}
.testimonials-container {
  width: 85%;
  background: #458ff6;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 3rem;
  height: 25rem;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}
.testimonials-container .vector {
  position: absolute;
  top: 1%;
  right: -4%;
}
.testimonials-title {
  grid-column: 1/-1;
  grid-row: 1;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.testimonials-list {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}
.testimonials-list > li.hidden {
  display: none;
}
.testimonials-author {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  align-self: center;
  justify-self: center;
}
.testimonials-author__picture {
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #ffffff;
}
.testimonials-author__details {
  margin-right: 10rem;
}
.testimonials-author__testimonial {
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
}
.testimonials-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.testimonials-slider .dots {
  display: flex;
  gap: 1rem;
}
.testimonials-slider .dots .dot {
  width: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: #458ff6;
  opacity: 0.4;
}
.testimonials-slider .dots .dot.active {
  background: #458ff6;
  opacity: 1;
}
.testimonials-title {
  color: #ffffff;
}
.testimonials-title::after {
  border-color: #ffffff;
}
.testimonials-author__details h1 {
  font-size: 1.375rem;
  font-weight: 400;
  color: #ffffff;
}
.testimonials-author__details h2 {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffffff;
}
.testimonials-author__testimonial {
  color: #ffffff;
}
@media (max-width: 1200px) {
  .testimonials .testimonials-author__details {
    margin-right: 10rem;
  }
  .testimonials-author__details h1 {
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
  }
  .testimonials-author__details h2 {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
  }
  .testimonials-author__testimonial {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
  }
}
@media (max-width: 1024px) {
  .testimonials-container {
    height: auto;
  }
  .testimonials-author {
    flex-direction: column;
    position: static;
  }
  .testimonials .testimonials-author__details {
    margin-right: 0rem;
  }
  .testimonials-author__details h1 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
  }
  .testimonials-author__details h2 {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ffffff;
  }
  .testimonials-author__testimonial {
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 300;
  }
}

.articles {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
  position: relative;
}
.articles-vector {
  position: absolute;
  z-index: -1;
  top: 7%;
  left: -5%;
}
.articles-background-vector {
  position: absolute;
  z-index: -1;
  right: -25%;
}
.articles-title {
  grid-row: 1;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.articles-cards {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.articles-cards__card {
  width: 21rem;
  height: 32rem;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  overflow: hidden;
  background: #ffffff;
}
.articles-cards__card-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.articles-cards__card-link:hover {
  text-decoration: underline;
}
.articles-cards__card > *:not(.articles-cards__card-image) {
  padding: 1rem;
}
.articles-cta {
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
.articles .articles-cards__card-link span {
  color: #458ff6;
}

.footer {
  width: 100%;
  background: #458ff6;
  position: relative;
}
.footer-left-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-vector {
  position: absolute;
  right: 5%;
  z-index: -1;
  top: -20%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  position: relative;
}
.footer .container-vector {
  position: absolute;
  bottom: -5%;
  left: -1%;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-logo__logo {
  width: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #ffffff;
}
.footer-link-list {
  display: flex;
  gap: 5rem;
}
.footer .link-list__title {
  margin-bottom: 2rem;
}
.footer .link-list__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-logo__logo {
  font-size: 1.375rem;
  font-weight: 700;
  color: #458ff6;
}
.footer-logo__text {
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
}
.footer-copyright {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }
}/*# sourceMappingURL=style.css.map */