body {
  @include flexcentered;

  font-family: $ff-primary;
}

.container {
  @include flexcentered;
  margin-top: 3rem;
  gap: 10rem;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.neutral {
  display: none;
}

.neutral.show {
  position: fixed;
  inset: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

@include response(xl) {
  .container {
    gap: 5rem;
  }
}
