* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
}

input {
  background: none;
  border: none;
  outline: none;

  color: white;
}
