.section-title {
  color: $txt-title-primary;
  @include set-font($fs-big, $fw-very-bold);
}

.section-description {
  color: $txt-description-primary;
  @include set-font($fs-regular, $fw-semi-bold);
}
.card-title {
  color: $txt-title-primary;
  @include set-font($fs-large, $fw-very-bold);
}

.card-description {
  color: $txt-description-primary;
  @include set-font($fs-semi-regular, $fw-semi-bold);
}

.section-primary-cta > * {
  color: $btn-primary-txtColor;
  @include set-font($fs-regular, $fw-very-bold);
}

.section-secondary-cta > * {
  color: $btn-secondary-txtColor;
  @include set-font($fs-regular, $fw-very-bold);
}
