.header {
  &-logo__logo {
    @include set-font($fs-semi-large, $fw-very-bold);
    color: $color3;
  }

  &-logo__text {
    @include set-font($fs-semi-large, $fw-very-bold);
    color: $txt-logo-primary;
  }

  &-nav__link > * {
    @include set-font($fs-regular, $fw-bold);
    color: $txt-link-primary;
  }

  &-nav__link:hover > * {
    font-weight: $fw-very-bold;
    color: $txt-link-highlightColor;
  }
}
