// ==========================================================================
// =========          Color Variables        ==========
// ==========================================================================

$color1: #458ff6;
$color2: #000000;
$color3: #ffffff;
$color4: #7d7987;
$color5: #233348;

// ---- Buttons ----
$btn-primary-bgColor: $color1;
$btn-primary-txtColor: $color3;
$btn-secondary-bgColor: $color3;
$btn-secondary-borderColor: $color1;
$btn-secondary-txtColor: $color1;

// ---- TEXT ----
//--- TEXT-Links ---
$txt-link-primary: $color4;
$txt-link-highlightColor: $color5;

//--- TEXT-logo ---
$txt-logo-primary: $color5;
$txt-logo-secondary: $color3;

//--- TEXT-title ---
$txt-title-primary: $color2;
$txt-title-secondary: $color3;

//--- TEXT-description ---
$txt-description-primary: $color4;
$txt-description-secondary: $color3;

// ==========================================================================
// =========          Font-family Variables        ==========
// ==========================================================================

$ff-primary: "Muli", sans-serif;

// ==========================================================================
// =========          Font-size Variables         ==========
// ==========================================================================

$fs-semi-regular: 1rem;
$fs-regular: 1.125rem;
$fs-semi-large: 1.375rem;
$fs-large: 1.5rem;
$fs-big: 2.25rem;
$fs-giant: 3rem;

// ==========================================================================
// =========          Font-weight Variables        ==========
// ==========================================================================

$fw-semi-bold: 300;
$fw-bold: 400;
$fw-very-bold: 700;

// ==========================================================================
// =========          Spacing Variables        ==========
// ==========================================================================

$spacing-margin: 3rem;
$section-width: 85%;

// ==========================================================================
// =========          Others         ==========
// ==========================================================================

$border-radius1: 8px;
$border-radius2: 20px;
$border-radius3: 55px;

// ==========================================================================
// =========          Media Queries        ==========
// ==========================================================================
