// ==========================================================================
// =========          Typography         ==========
// ==========================================================================

.nav-link__primary > * {
  color: $txt-link-primary;
}
.nav-link__secondary > * {
  color: $txt-link-secondary;
}
.nav-link > * {
  @include set-font($fs-regular, $fw-bold);
}

.nav-link__primary:hover > * {
  font-weight: $fw-very-bold;
  color: $txt-link-highlightColor;
}
// ==========================================================================
// =========          Media queries         ==========
// ==========================================================================

@include response(xxl) {
  $fs-regular: 1rem;

  .nav-link > * {
    @include set-font($fs-regular, $fw-bold);
  }
}

@include response(xl) {
  $fs-regular: 2rem;
  .nav-link__primary > * {
    color: $color3;
    @include set-font($fs-regular, $fw-bold);
  }
}
