.articles {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
  position: relative;
  &-vector {
    position: absolute;
    z-index: -1;
    top: 7%;
    left: -5%;
  }

  &-background-vector {
    position: absolute;
    z-index: -1;

    right: -25%;
  }
  &-title {
    grid-row: 1;
    width: fit-content;
    @include center-element;
  }
  &-cards {
    grid-row: 2;
    @include flexcentered;
    flex-wrap: wrap;
    gap: 1rem;
    &__card {
      width: 21rem;
      height: 32rem;
      border-radius: $border-radius2;
      box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
      overflow: hidden;
      background: $color3;

      &-link {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &-link:hover {
        text-decoration: underline;
      }
    }

    &__card > *:not(&__card-image) {
      padding: 1rem;
    }
  }

  &-cta {
    grid-row: 3;
    @include center-element;
  }

  // ==========================================================================
  // =========          Typography        ==========
  // ==========================================================================
  .articles {
    &-cards__card-link {
      span {
        color: $color1;
      }
    }
  }
}
