.footer {
  width: 100%;
  background: $color1;
  position: relative;

  &-left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-vector {
    position: absolute;
    right: 5%;
    z-index: -1;
    top: -20%;
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6rem;
    position: relative;
  }

  .container-vector {
    position: absolute;
    bottom: -5%;
    left: -1%;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__logo {
      width: 2rem;
      aspect-ratio: 1/1;
      @include flexcentered;
      border-radius: 100%;
      background: $color3;
    }
  }

  &-link-list {
    display: flex;
    gap: 5rem;
  }

  .link-list__title {
    margin-bottom: 2rem;
  }

  .link-list__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // ==========================================================================
  // =========          Typography         ==========
  // ==========================================================================

  &-logo__logo {
    @include set-font($fs-semi-large, $fw-very-bold);
    color: $color1;
  }

  &-logo__text {
    @include set-font($fs-semi-large, $fw-very-bold);
    color: $txt-logo-secondary;
  }

  &-copyright {
    @include set-font($fs-semi-regular, $fw-semi-bold);
    color: $txt-description-secondary;
  }

  // ==========================================================================
  // =========          Media queries         ==========
  // ==========================================================================

  @include response(xl) {
    &-container {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
