.footer {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding: 6rem;
  }
  width: 100%;
  background: $color1;
  &-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__logo {
      width: 2rem;
      aspect-ratio: 1/1;
      @include flexcentered;
      border-radius: 100%;
      background: $color3;
    }
  }

  &-links-groups {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  .group-link__title {
    margin-bottom: 2rem;
  }

  .group-link__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
