.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $section-width;

  &-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__logo {
      width: 2rem;
      aspect-ratio: 1/1;
      @include flexcentered;
      border-radius: 100%;
      background: $color1;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
}
