.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  row-gap: 2rem;
  width: $section-width;
  background: $color3;
  position: relative;

  &-title {
    grid-column: 1;
    grid-row: 2;
  }

  &-description {
    grid-column: 1;
    grid-row: 3;
  }

  &-cta {
    grid-column: 1;
    grid-row: 4;
  }

  &-image {
    grid-column: 2;
    grid-row: 1/-1;
  }

  .vector {
    position: absolute;
    left: -13%;
    width: 10%;
    img {
      width: 100%;
      aspect-ratio: 1.1/1;
    }
  }

  // ==========================================================================
  // =========          Typography        ==========
  // ==========================================================================

  &-title {
    @include set-font($fs-giant, $fw-very-bold);
  }

  &-description {
    @include set-font($fs-semi-large, $fw-semi-bold);
  }

  // ==========================================================================
  // =========          Media queries         ==========
  // ==========================================================================

  @include response(xxl) {
    $fs-giant: 2.5rem;
    &-title {
      @include set-font($fs-giant, $fw-very-bold);
    }

    $fs-semi-large: 1.125rem;
    &-description {
      @include set-font($fs-semi-large, $fw-semi-bold);
    }
  }

  @include response(xl) {
    $fs-giant: 2rem;
    &-title {
      @include set-font($fs-giant, $fw-very-bold);
    }

    $fs-semi-large: 0.875rem;
    &-description {
      @include set-font($fs-semi-large, $fw-semi-bold);
    }
  }

  @include response(lg) {
    grid-template-columns: 1fr;
    &-title {
      grid-column: 1;
      text-align: center;
    }

    &-description {
      grid-column: 1;

      text-align: center;
    }

    &-cta {
      @include center-element;
    }
    &-image {
      grid-column: 1;
      grid-row: 5;
    }
  }
}
