.providers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  width: $section-width;

  position: relative;
  row-gap: 3rem;
  column-gap: 8rem;

  &-image {
    grid-column: 1;
    grid-row: 1/-1;
  }

  &-title {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
  }

  &-description {
    grid-column: 2;
    grid-row: 3;
  }

  &-cta {
    grid-column: 2;
    grid-row: 4;
  }

  .vector {
    position: absolute;
    bottom: -20%;
    right: -12%;
  }

  @include response(lg) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    &-title {
      grid-column: 1;
      grid-row: 1;
      @include fit-content;
      @include center-element;
    }
    &-description {
      grid-column: 1;
      grid-row: 2;
      text-align: center;
      @include remove-lineBreak;
    }

    &-cta {
      grid-column: 1;
      grid-row: 3;
      @include center-element;
    }
  }
}
